<mt:IfRegistrationAllowed type="OpenID">
<div class="widget-openid widget">
    <div class="widget-content">
        <em><strong>OpenID</strong> accepted here</em>
        <a href="http://www.sixapart.com/labs/openid/">Learn more about OpenID</a>
    </div>
</div>
</mt:IfRegistrationAllowed>
