<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module - Entry Detail ######### --></mt:If>

                    <div class="entry" id="entry-<$mt:EntryID$>">
                        <h2 class="entry-title"><$mt:EntryTitle$></h2>
                        
                        <div class="entry-meta-1 pkg">
                            <span class="byline">By <a href="<$mt:EntryBlogURL$>" class="profile-link"><$mt:EntryAuthorDisplayName remove_html="1" $></a></span>
							<span class="dateline">on <span class="date" title="<$mt:EntryDate format="iso8601"$>"><$mt:EntryDate format="%B %e, %Y %l:%M %p"$></span></span>
							<mt:IfArchiveTypeEnabled archive_type="Category"><mt:If tag="EntryCategories">
under <span class="categoryline"><mt:EntryCategories glue='<span class="delimiter">, </span>'><a href="<$mt:CategoryArchiveLink$>" class="category" rel="tag"><$mt:CategoryLabel remove_html="1"$></a></mt:EntryCategories></span></mt:If></mt:IfArchiveTypeEnabled>
						</div><!-- .entry-meta -->
                        
                        <div class="entry-body">
                            <$mt:EntryBody gcprettify="1"$>
                            <$mt:EntryMore gcprettify="1"$>
                        </div><!-- .entry-body -->
                        
                        <div class="entry-meta-2 pkg">
                            <ul>
                                <li><a href="#comments"><$mt:EntryCommentCount singular="1 comment" plural="# comments"$></a></li>
                                <!-- <li><a href="<$mt:EntryPermalink$>"><$mt:EntryScoreCount singular="1 vote" plural="# votes" namespace="community_back_recommend"$></a></li> -->
                            </ul>
                        </div>
                    </div><!-- #entry-<$mt:EntryID$> -->
                    
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module - Entry Detail ######### --></mt:If>
