<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module - Footer ######### --></mt:If>

            </div><!-- #content-main -->
            
            <$mt:Include module="Sidebar"$>
        </div><!-- #content-inner -->
        </div><!-- #content -->

        <div id="footer">
        <div id="footer-inner" class="pkg">
            <ul>
                <li class="first"><a href="http://github.com/blogs-perl-org/blogs.perl.org/issues">Feedback welcome</a></li>
                <li>Hosted by <a href="http://dave.org.uk">Dave Cross</a> of <a href="http://mag-sol.com/">Magnum Solutions</a> and <a href="http://aaroncrane.co.uk/">Aaron Crane</a> of <a href="http://cutbot.net/">Cutbot</a></li>
            </ul>
            <ul>
                <li class="first">Free blog hosting for users of the <a href="http://perl.org">Perl Programming Language</a></li>
            </ul> 
            
            <div class="powered-by"><a href="http://www.movabletype.com/" target="_blank">Powered by Movable Type</a></div>
        </div><!-- #footer-inner -->
        </div><!-- #footer -->
            
        </div><!-- #content-inner -->
        </div><!-- #content -->
        
    </div><!-- #container-inner -->
    </div><!-- #container -->

    <$mt:Var name="html_body_footer"$>

</body>
</html>

<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module - Footer ######### --></mt:If>
