<div id="<$mt:Var name="id"$>-field" class="field-top-label field pkg <$mt:Var name="class"$>">
    <div class="field-inner">
        <div class="field-header">
            <label id="<$mt:Var name="id"$>-label" for="<$mt:Var name="id"$>"><$mt:Var name="label"$><mt:If name="required"> *</mt:If></label>
        </div>
        <div class="field-content ">
            <$mt:Var name="field-content"$>
        </div>
    </div>
</div>
