<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module - Header ######### --></mt:If>
<mt:Unless name='system_page'><mt:Unless name='aggregator_page'><mt:SetVarBlock name="userblog_page">1</mt:SetVarBlock></mt:Unless></mt:Unless>
<mt:SetVarBlock name="html_head" prepend="1">

    <mt:SetVarBlock name="profile_view_url"><$mt:CGIPath$><$mt:CommunityScript$>?__mode=view&amp;id=</mt:SetVarBlock>
    <mt:IfBlog>
        <mt:Ignore>
    <!-- Community Solution Blog variables -->
    <!-- The below variables are used when there a blog is in context.  -->
        </mt:Ignore>
        <mt:If var="blog_override">
        <mt:MultiBlog include_blogs="1">
        <mt:SetVarBlock name="blog_name"><$mt:BlogName encode_html="1"$></mt:SetVarBlock>
        <mt:SetVarBlock name="blog_description"><$mt:BlogDescription remove_html="1"$></mt:SetVarBlock>
        <mt:SetVarBlock name="blog_url"><$mt:BlogURL$></mt:SetVarBlock>
        <mt:unless name="title"><mt:SetVarBlock name="title"><mt:var name="blog_name"> search results</mt:SetVarBlock></mt:unless>
        </mt:MultiBlog>
        <mt:Else>
        <mt:SetVarBlock name="blog_id"><$mt:BlogID$></mt:SetVarBlock>
        <mt:SetVarBlock name="blog_name"><$mt:BlogName encode_html="1"$></mt:SetVarBlock>
        <mt:SetVarBlock name="blog_description"><$mt:BlogDescription remove_html="1"$></mt:SetVarBlock>
        <mt:SetVarBlock name="blog_url"><$mt:BlogURL$></mt:SetVarBlock>
        <mt:unless name="title"><mt:SetVarBlock name="title"><mt:var name="blog_name"> [blogs.perl.org]</mt:SetVarBlock></mt:unless>
        </mt:If>
    <link href="<$mt:BlogURL$>styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="<$mt:BlogURL$>styles/base.css" rel="stylesheet" type="text/css" />
    <link href="<$mt:StaticWebPath$>plugins/GCPrettify/prettify.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Entries" href="<$mt:Link template="Feed - Recent Entries"$>" />
<mt:If name='aggregator_main_index'>
    <link rel="alternate" type="application/atom+xml" title="Comments" href="<$mt:Link template="Feed - Recent Comments"$>" />
</mt:If>
    <link rel="start" href="<$mt:BlogURL$>" title="Home" />
    <script type="text/javascript" src="<$mt:Link template="javascript"$>"></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/GCPrettify/prettify.js"></script>
    <script type="text/javascript">mtAttachEvent('load', prettyPrint);</script>
    <$mt:CCLicenseRDF$>
    <mt:Else>
        <mt:Ignore>
    <!-- Community Solution Static variables -->
    <!-- The below variables are used when there is no blog in context. Set them to defaults in the case that they are used w/o a blog context -->
        </mt:Ignore>
        <mt:unless name="blog_name"><mt:SetVarBlock name="blog_name">Blog Name</mt:SetVarBlock></mt:unless>
        <mt:unless name="blog_description"><mt:SetVarBlock name="blog_description">Blog Description</mt:SetVarBlock></mt:unless>
        <mt:unless name="blog_url"><mt:SetVarBlock name="blog_url">#</mt:SetVarBlock></mt:unless>
        <mt:unless name="title">blogs.perl.org</mt:unless>
        <mt:SetVarBlock name="profile_view_url"><$mt:CGIPath$><$mt:CommunityScript$>?__mode=view&amp;blog_id=<$mt:BlogID encode_html="1"$>&amp;id=</mt:SetVarBlock>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css" />
	<link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8"><$mt:Include module="GlobalJavaScript"$></script>
    <script type="text/javascript" src="<$mt:StaticWebPath$>plugins/GCPrettify/prettify.js"></script>
    <script type="text/javascript">mtAttachEvent('load', prettyPrint);</script>
    <link href="<$mt:StaticWebPath$>plugins/GCPrettify/prettify.css" rel="stylesheet" type="text/css" />
        <!-- END Community Solution Styles -->
    </mt:IfBlog>

</mt:SetVarBlock>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<$mt:BlogLanguage$>" id="sixapart-standard">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<$mt:PublishCharset$>" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><$mt:Var name="title" remove_html="1"$></title>
    <meta name="generator" content="<$mt:ProductName version="1"$>" />
    <$mt:Var name="html_head"$>
</head>
<body class="<$mt:Var name="body_class"$>">
<$mt:Include module="Google Analytics"$>
    <div id="container">
    <div id="container-inner" class="pkg">
        <$mt:Include module="Global Navigation"$>
        
        <div id="header" class="pkg">
        <div id="header-inner">
            <h1 id="site-title"><a href="<$mt:Var name="blog_url"$>" accesskey="1"><$mt:Var name="blog_name"$></a></h1>
            <div id="site-description"><$mt:Var name="blog_description"$></div>
        </div><!-- #header-inner -->
        </div><!-- #header -->
        
        <div id="content">
        <div id="content-inner" class="pkg">
            <div id="content-main">
            
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module - Header ######### --></mt:If>