/* ---------- BLOGS.PERL.ORG-ADDED HACKS ---------- */

code.prettyprint span.pln br { display: none }
pre > code.prettyprint span.pln br { display: inline }
pre, tt, code, kbd, samp { font-family: monospace }

pre {
  line-height: 100%;
}

