<li id="navbar-signin-widget">
<span id="navbar-signin-widget-content" class="widget-content"></span>
</li>
<script type="text/javascript">
/* <![CDATA[ */
mtAttachEvent('usersignin', mtUpdateNavbarSignInWidget);
mtUpdateNavbarSignInWidget();
/* ]]> */
</script>