<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - About ######### --></mt:If>
<mt:IfBlog>
<mt:authors role="Userblogger" need_entry="0">
                <div class="module-aux pkg" id="module-aux-about-author-<$mt:AuthorId$>">
                <div class="module-inner">
                    <h3>About <$mt:AuthorDisplayName encode_html="1"$></h3>
                    <p><img class="authorpic" src="<mt:If tag="AuthorUserpic"><mt:AuthorUserpicAsset><$mt:AssetThumbnailURL width="72" height="72"$></mt:AuthorUserpicAsset><mt:Else><$mt:StaticWebPath$>images/default-userpic-50.jpg</mt:If>" alt="user-pic" />
	            <mt:If tag="authordataabout_blurb"><$mt:authordataabout_blurb remove_html="1"$><mt:Else>I blog about Perl.</mt:If></p>
                    <div class="more-link"><a href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=view&amp;id=<$mt:AuthorId$>">More info &raquo;</a></div>
                </div>
                </div><!-- #module-aux-about-author -->
</mt:authors>
</mt:IfBlog>
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - About ######### --></mt:If>
