<div class="user-pic">
<mt:If name="userpic_type" eq="profile">
    <img src="<mt:If tag="AuthorUserpicURL"><$mt:AuthorUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>"
        width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" />
<mt:Else name="userpic_type" eq="commenter">
    <mt:IfCommenterIsAuthor><mt:Ignore><!-- If native MTCS user --></mt:Ignore>
    <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:CommenterID$>"><img
        src="<mt:If tag="CommenterUserpic"><$mt:CommenterUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>"
        width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" /></a>
    <mt:Else>
        <mt:If tag="CommenterID"><mt:Ignore><!-- If authenticated user (OpenID, Vox, LJ, etc) --></mt:Ignore>
    <a href="<$mt:CommenterURL$>">
        <img src="<mt:If tag="CommenterUserpic"><$mt:CommenterUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>" 
            width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" />
        <mt:If tag="CommenterAuthIconURL"><span class="auth-icon"><img src="<$mt:CommenterAuthIconURL size="logo_small"$>" alt="<$mt:CommenterAuthType$>"/></span></mt:If>
    </a>
        <mt:Else><mt:Ignore><!-- Else anonymous commenter --></mt:Ignore>
    <a href="<$mt:CommentURL$>"><img src="<mt:If tag="CommenterUserpic"><$mt:CommenterUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>" 
        width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" /></a>
        </mt:If>
    </mt:IfCommenterIsAuthor>
<mt:Else name="userpic_type" eq="userlist">
    <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:AuthorID$>"><img
        src="<mt:If tag="AuthorUserpicURL"><$mt:AuthorUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>"
        width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" /></a>
<mt:Else>
    <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:EntryAuthorID$>"><img
        src="<mt:If tag="EntryAuthorUserpicURL"><$mt:EntryAuthorUserpicURL$><mt:Else><$mt:StaticWebPath$>images/default-userpic-90.jpg</mt:If>"
        width="<$mt:Var name="userpic_size"$>" height="<$mt:Var name="userpic_size"$>" alt="user-pic" /></a>
</mt:If>
</div>
