
<$mt:Var name="body_class" value="mt-profile-reset"$>
<mt:SetVarBlock name="page_title">Reset Password</mt:SetVarBlock>
<mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:BlogName encode_html="1"$>: </mt:If><$mt:Var name="page_title"$></mt:SetVarBlock>

<$mt:Include module="Simple Header"$>

<h1 id="page-title" class="asset-name"><$mt:Var name="page_title"$></h1>

<mt:If name="recovered">
<p>Your password has been changed, and the new password has been sent to your email address (<$mt:Var name="email" escape="html"$>).</p>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <a
            href="<$mt:Var name="return_to" escape="html"$>"
            accesskey="s"
            title="Back to the original page"
            class="primary-button"
            >Back to the original page</a>
    </div>
</div>


<mt:Else>
    <form method="post" action="<$mt:Var name="script_url"$>">
    <input type="hidden" name="__mode" value="do_recover" />
    <input type="hidden" name="return_to" value="<$mt:Var name="return_to" escape="html"$>" />
<fieldset>

<mtapp:setting
    id="name"
    label="Username"
    label_class="top-label">
    <input name="name" id="name" class="ti" />
</mt:App:Setting>

<mtapp:setting
    id="hint"
    label="Password recovery word/phrase"
    label_class="top-label">
    <input name="hint" id="hint" class="ti" autocomplete="0" />
</mt:App:Setting>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions right">
        <button
            type="submit"
            accesskey="s"
            title="Recover (s)"
            class="primary-button"
            >Reset</button>
        <button
            onclick="history.back(); return false;"
            type="submit"
            accesskey="x"
            title="Go Back (x)"
            >Go Back</button>
    </div>
</div>

</fieldset>
</form>
</mt:If>

<$mt:Include module="Simple Footer"$>

