<mt:BlogIfCCLicense>
<div class="widget-creative-commons widget">
   <div class="widget-content">
      <a href="<$mt:BlogCCLicenseURL$>"><img alt="Creative Commons License" src="<$mt:BlogCCLicenseImage$>" /></a><br />
      This blog is licensed under a <a href="<$mt:BlogCCLicenseURL$>">Creative Commons License</a>.
   </div>
</div>
</mt:BlogIfCCLicense>
