<div class="widget-powered widget">
    <div class="widget-content">
        <a href="http://www.movabletype.com/"><img src="<$mt:StaticWebPath$>images/mt4-bug-pbmt-white.png" alt="Powered by Movable Type <$mt:Version$>" width="120" height="75" /></a>
    </div>
</div>
