
<$mt:Var name="body_class" value="mt-profile-edit"$>
<mt:SetVarBlock name="page_title">Edit Profile</mt:SetVarBlock>
<mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:BlogName encode_html="1"$>: </mt:If><$mt:Var name="page_title"$></mt:SetVarBlock>

<mt:SetVarBlock name="content_header" id="content_header">
<mt:If name="saved">
    <mtapp:statusmsg
        id="saved"
        class="success">
        This profile has been updated.<mt:If name="blog_id"> Go <a href="<$mt:Var name="return_to" escape="html"$>">back to the previous page</a> or <a href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=view<mt:If name="blog_id">&blog_id=<$mt:Var name="blog_id"$></mt:If>">view your profile</a>.</mt:If>
    </mt:App:StatusMsg>
</mt:If>
<mt:If name="error">
    <mtapp:statusmsg
        id="generic-error"
        class="error">
        <$mt:Var name="error"$>
    </mt:App:StatusMsg>
</mt:If>
</mt:SetVarBlock>

<$mt:Include module="Simple Header"$>

<h1 id="page-title" class="asset-name"><$mt:Var name="page_title"$></h1>


<$mt:Var name="content_header"$>

<form name="profile" id="profile" method="post" action="<$mt:Var name="script_url"$>" enctype="multipart/form-data">
    <input type="hidden" name="__mode" value="save" />
    <mt:If name="blog_id">
    <input type="hidden" name="blog_id" value="<$mt:Var name="blog_id" escape="html"$>" />
    </mt:If>
    <input type="hidden" name="magic_token" value="<$mt:Var name="magic_token"$>" />
    <input type="hidden" name="return_args" value="<$mt:Var name="return_args" escape="html"$>" />
    <input type="hidden" name="return_to" value="<$mt:Var name="return_to" escape="html"$>" />
<mt:If name="id">
    <input type="hidden" name="id" value="<$mt:Var name="id" escape="html"$>" />
</mt:If>

<mt:SetVarBlock name="field-content"><span id="name"><$mt:Var name="name" escape="html"$></span><input type="hidden" name="name" class="ti" value="<$mt:Var name="name" escape="html"$>" /></mt:SetVarBlock>
<$mt:Include module="Form Field" id="name" class="" required="1" label="Username"$>

<mt:SetVarBlock name="field-content"><input type="text" name="nickname" id="nickname" class="ti" value="<$mt:Var name="nickname" escape="html"$>" /></mt:SetVarBlock>
<$mt:Include module="Form Field" id="nickname" class="" required="$auth_type_mt" label="Display Name"$>

<mt:SetVarBlock name="field-content"><input type="text" name="email" id="email" class="ti" value="<$mt:Var name="email" escape="html"$>" /></mt:SetVarBlock>
<$mt:Include module="Form Field" id="email" class="" required="$auth_type_mt" label="Email Address"$>

<mt:If name="auth_mode_mt">

    <mt:If name="can_modify_password">
    <mt:SetVarBlock name="field-content"><input type="password" name="pass" id="pass" class="pw" /></mt:SetVarBlock>
    <$mt:Include module="Form Field" id="pass" class="" label="New Password"$>

    <mt:SetVarBlock name="field-content"><input type="password" name="pass_verify" id="pass_verify" class="pw" /></mt:SetVarBlock>
    <$mt:Include module="Form Field" id="pass_verify" class="" label="Confirm Password"$>
    </mt:If>

<mt:Else>
    <input type="hidden" name="external_auth" value="1" />
</mt:If>

<mt:SetVarBlock name="field-content"><input type="text" name="url" id="url" class="ti" value="<$mt:Var name="url" escape="html"$>"  /></mt:SetVarBlock>
<$mt:Include module="Form Field" id="url" class="" label="Website URL"$>

<mt:SetVarBlock name="field-content">
    <mt:If name="userpic"><$mt:Var name="userpic"$>
        <label><em>Upload New Userpic</em></label></mt:If>
    <input type="file" name="file" id="file" class="fi" />
</mt:SetVarBlock>
<$mt:Include module="Form Field" id="file" class="" label="Userpic"$>

<mt:Loop name="field_loop">
    <mt:If name="__first__">
    <input type="hidden" name="_type" value="author" id="obj_type" />
    <input type="hidden" name="customfield_beacon" value="1" id="customfield_beacon" />
    </mt:If>
    <!-- start-customfield_<$mt:Var name="basename"$> -->
    <mtapp:setting
        id="$field_id"
        label="$name"
        hint="$description"
        shown="$show_field"
        show_hint="$show_hint"
        required="$required"
        content_class="$content_class">

    <$mt:Var name="field_html"$>

    </mtapp:setting>
    <!-- end-customfield_<$mt:Var name="basename"$> -->
</mt:Loop>

<div class="actions-bar actions-bar-login">
    <div class="actions-bar-inner pkg actions">
        <button
            type="submit"
            accesskey="s"
            title="Save (s)"
            class="primary-button"
            >Save</button>
    </div>
</div>

</form>

<mt:If name="blog_id">
<p>Go <a href="<$mt:Var name="return_to" escape="html"$>">back to the previous page</a> or <a href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=view<mt:If name="blog_id">&blog_id=<$mt:Var name="blog_id"$></mt:If>">view your profile</a>.</p>
</mt:If>

<$mt:Include module="Simple Footer"$>

