<$mt:Var name="page_layout" value="layout-wt"$>
<mt:IfBlog>
    <mt:SetVarBlock name="blog_name"><$mt:BlogName encode_html="1"$></mt:SetVarBlock>
    <mt:SetVarBlock name="page_title">User Profile</mt:SetVarBlock>
    <mt:SetVarBlock name="system_page">1</mt:SetVarBlock>
    <mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:Var name="blog_name"$>: </mt:If><$mt:Var name="page_title"$>: <$mt:AuthorDisplayName encode_html="1"$></mt:SetVarBlock>
<mt:Else>
    <mt:SetVarBlock name="blog_name">blogs.perl.org</mt:SetVarBlock>
    <mt:SetVarBlock name="blog_description"> </mt:SetVarBlock>
    <mt:SetVarBlock name="page_title">User Profile</mt:SetVarBlock>
    <mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:Var name="blog_name"$>: </mt:If><$mt:Var name="page_title"$>: <$mt:AuthorDisplayName encode_html="1"$></mt:SetVarBlock>
</mt:IfBlog>
<$mt:Var name="hide_signout_link" value="1"$>
<mt:SetVarBlock name="html_head">
<link type="application/atom+xml" rel="alternate" title="Recent Actions from <$mt:AuthorDisplayName encode_html="1"$>" href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&amp;_type=actions&amp;blog_id=<$mt:BlogID$>&amp;id=<$mt:AuthorID$>" />
<link type="application/atom+xml" rel="alternate" title="Recent Entries from <$mt:AuthorDisplayName encode_html="1"$>" href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&amp;_type=posts&amp;blog_id=<$mt:BlogID$>&amp;id=<$mt:AuthorID$>" />
<link type="application/atom+xml" rel="alternate" title="Comments from <$mt:AuthorDisplayName encode_html="1"$>" href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&amp;_type=comments&amp;blog_id=<$mt:BlogID$>&amp;id=<$mt:AuthorID$>" />
<link type="application/atom+xml" rel="alternate" title="Responses to Comments from <$mt:AuthorDisplayName encode_html="1"$>" href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&amp;_type=replies&amp;blog_id=<$mt:BlogID$>&amp;id=<$mt:AuthorID$>" />
<script type="text/javascript">
<!--
function relations(following, followed, u) {
    mtSetUser(u);
    if ( u && u.name )
        conditional_block(<mt:If name="profile_self">true<mt:Else>false</mt:If>, 'edit_profile');
<mt:If name="profile_self">
    var a = document.getElementById('edit_profile_link');
    a.href = '<$mt:CGIPath$><$mt:CommunityScript$>?__mode=edit&blog_id=<$mt:BlogID$>&return_to=' + encodeURIComponent(document.URL);
</mt:If>
    conditional_block(followed, 'followed_<$mt:AuthorID$>');
    conditional_block(following, 'following_<$mt:AuthorID$>');
}
//-->
</script>
</mt:SetVarBlock>

<$mt:Include module="Header" body_class="mt-profile-view"$>

<$mt:Include module="Userpic" userpic_type="profile" userpic_size="100"$>

<h1 id="page-title"><$mt:AuthorDisplayName encode_html="1"$></h1>

<mt:IfLoggedIn element_id="edit_profile">
<p><a id="edit_profile_link" href="#">Edit Profile</a></p>
<mt:Else>
<p class="edit-relation">
    <span id="following-status"></span>
    <mt:AuthorIfFollowing script="0">
    You are following <$mt:AuthorDisplayName encode_html="1"$>. <$mt:AuthorUnfollowLink text="Unfollow"$>
    <mt:Else>
    <$mt:AuthorFollowLink text="Follow"$>
    </mt:AuthorIfFollowing>
&nbsp;</p>

    <mt:Ignore>
        <mt:AuthorIfFollowed script="0">
<p>You are followed by <$mt:AuthorDisplayName encode_html="1"$>.</p>
        <mt:Else>
<p>You are not followed by <$mt:AuthorDisplayName encode_html="1"$>.</p>
        </mt:AuthorIfFollowed>
    </mt:Ignore>

    <mt:SetVarBlock name="html_body_footer" append="1">
    <script type="text/javascript" src="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=relations_js&author_id=<$mt:AuthorID$><mt:If name="blog_id">&blog_id=<$mt:Var name="blog_id"$></mt:If>"></script>
    </mt:SetVarBlock>
</mt:IfLoggedIn>

<p></p>

<ul id="profile-data">
<mt:If tag="AuthorURL">
    <li><strong>Website:</strong> <a href="<$mt:AuthorURL encode_html="1"$>" target="_blank"><$mt:AuthorURL regex_replace="/^\w+:\/\//","" encode_html="1"$></a></li>
</mt:If>
<mt:Loop name="field_loop">
    <mt:If name="value">
    <li><strong><$mt:Var name="name" escape="html"$>:</strong> <mt:If name="type" eq="datetime"><$mt:Var name="field_value"$><mt:Else><$mt:Var name="field_value" sanitize="1"$></mt:If></li>
    </mt:If>
</mt:Loop>
</ul>
<!-- 
<ul id="tabs"> 
    <li><a href="#profile-recent-actions" class="active" onclick="switchTabs('tabs',this)">Recent Actions</a></li> 
    <li><a href="#profile-comment-threads" class="" onclick="switchTabs('tabs',this)">Comment Threads</a></li> 
</ul>

-->

<!-- <div id="profile-recent-actions" class="tab_content"> -->
    <h3 class="tab_content_label">Recent Actions</h3>

<mt:Actions namespace="community_pack_recommend" include_blogs="all" sort_order="descend" lastn="30">
    <mt:ActionsHeader>
    <ul class="recent-actions">
    </mt:ActionsHeader>
    <mt:ActionsEntry>
        <li class="entry icon-entry">
            Posted <a href="<$mt:EntryLink$>"><$mt:EntryTitle encode_html="1"$></a> to <a href="<$mt:EntryBlogURL$>" class="icon-blog"><$mt:EntryBlogName$></a>
            <div class="excerpt"><$mt:EntryBody gcprettify="1" smarttrim="-300","…"$></div>
        </li>
    </mt:ActionsEntry>
    <mt:ActionsComment>
        <li class="comment icon-comment">
            Commented on <mt:CommentEntry><a href="<$mt:CommentLink$>"><$mt:EntryTitle encode_html="1"$></a></mt:CommentEntry>
            <div class="excerpt"><$mt:CommentBody words="40"$>...</div>
        </li>
    </mt:ActionsComment>
    <mt:ActionsFavorite>
        <li class="score icon-score">
            Favorited <a href="<$mt:EntryLink$>"><$mt:EntryTitle encode_html="1"$></a> on <a href="<$mt:EntryBlogURL$>" class="icon-blog"><$mt:EntryBlogName$></a>
        </li>
    </mt:ActionsFavorite>
    <mt:ActionsFooter>
    </ul>
    </mt:ActionsFooter>
<mt:Else>
    <p class="note">No recent actions.</p>

</mt:Actions>

<img src="<$mt:StaticWebPath$>images/status_icons/feed.gif" alt="Subscribe to feed" /> <a href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&amp;_type=actions&amp;blog_id=<$mt:BlogID$>&amp;id=<$mt:AuthorID$>">Recent Actions from <$mt:AuthorDisplayName encode_html="1"$></a></p>
<!-- </div> -->

<!-- <div id="profile-comment-threads" class="tab_content hidden">  -->
    <h3 class="tab_content_label">Comment Threads</h3>

<mt:AuthorCommentResponses lastn="5">  
    <mt:CommentsHeader>  
    <ul class="recent-actions">  
    </mt:CommentsHeader> 
        <li class="comment icon-comment">
            <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:CommenterID$>"><$mt:CommenterName encode_html="1"$></a> commented on 
                <mt:CommentEntry><a href="<$mt:CommentLink$>"><$mt:EntryTitle encode_html="1"$></a></mt:CommentEntry>
            <div class="excerpt"><$mt:CommentBody smarttrim="-600","…"$></div>
    <mt:CommentsFooter> 
    </ul> 
    </mt:CommentsFooter>  
<mt:Else> 
    <p class="note">No responses to comments.</p> 
</mt:AuthorCommentResponses>  
<img src="<$mt:StaticWebPath$>images/status_icons/feed.gif" alt="Subscribe to feed" /> <a href="<$mt:CGIPath$><$mt:CommunityScript$>?__mode=feed&_type=replies&blog_id=<$mt:BlogID$>&id=<$mt:AuthorID$>">Responses to Comments from <$mt:AuthorDisplayName encode_html="1"$></a></p>

<!-- </div> -->

<mt:SetVarBlock name="profile_widgets">
<div class="widget-following widget">
    <h3 class="widget-header">Following</h3>
    <div class="widget-content">
<mt:AuthorFollowing>
    <mt:If name="__first__">
        <ul class="user-listing">
    </mt:If>
            <li class="pkg">
                <$mt:Include module="Userpic" userpic_size="36" userpic_type="userlist"$>
                <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:AuthorID$>" class="user-name"><$mt:AuthorDisplayName encode_html="1"$></a>
                <a href="<$mt:AuthorURL$>" class="user-url"><$mt:AuthorURL regex_replace="/^\w+:\/\//","" $></a>
            </li>
    <mt:If name="__last__">
        </ul>
    </mt:If>
<mt:Else>
    <p class="note">Not following anyone</p>
</mt:AuthorFollowing>
    </div>
</div>
<mt:if name="profile_self">
    <div class="widget-followers widget">
        <h3 class="widget-header">Followers</h3>
        <div class="widget-content">
    <mt:AuthorFollowers>
        <mt:If name="__first__">
            <ul class="user-listing">
        </mt:If>
                <li class="pkg">
                    <$mt:Include module="Userpic" userpic_size="36" userpic_type="userlist"$>
                    <a href="<$mt:Var name="profile_view_url" encode_html="1"$><$mt:AuthorID$>" class="user-name"><$mt:AuthorDisplayName encode_html="1"$></a>
                    <a href="<$mt:AuthorURL$>" class="user-url"><$mt:AuthorURL regex_replace="/^\w+:\/\//","" $></a>
                </li>
        <mt:If name="__last__">
            </ul>
        </mt:If>
    <mt:Else>
        <p class="note">Not being followed</p>
    </mt:AuthorFollowers>
        </div>
    </div>
</mt:if>
</mt:SetVarBlock>

<$mt:Include module="Footer"$>
