<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Index Template: Main Index (BlogID=<$mt:BlogID$>) ######### --></mt:If>
<$mt:Var name="userblog_main_index" value="1"$>
<$mt:Include module="Header"$>

                <div class="entry-listing">
                <mt:Entries lastn="5">
                    <$mt:Include module="Entry Summary"$>
                </mt:Entries>
                </div><!-- #entry-listing -->
                
<mt:ignore><$mt:Include module="Content Navigation"$></mt:ignore>
                
<$mt:Include module="Footer"$>

<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Index Template: Main Index (Blog ID=<$mt:BlogID$>) ######### --></mt:If>
