<mt:If name="comment_confirmation">
    <mt:Ignore><!-- Success message when comment has been submitted --></mt:Ignore>
    <$mt:Var name="page_title" value="Confirmation..."$>
    <$mt:Var name="message" value="<p>Your comment has been submitted!</p>"$>
<mt:Else name="comment_pending">
    <mt:Ignore><!-- Pending message when comment is being held for review --></mt:Ignore>
    <$mt:Var name="page_title" value="Thank you for commenting."$>
    <$mt:Var name="message" value="<p>Your comment has been received and held for approval by the blog owner.</p>"$>
<mt:Else name="comment_error">
    <mt:Ignore><!-- Error message when comment submission fails --></mt:Ignore>
    <$mt:Var name="page_title" value="Comment Submission Error"$>
    <mt:SetVarBlock name="message"><p>Your comment submission failed for the following reasons: <$mt:ErrorMessage$></p></mt:SetVarBlock>
</mt:If>
    <$mt:Include module="Header"$>
                            <h1 id="page-title"><$mt:Var name="page_title"$></h1>
                            <$mt:Var name="message"$>
                            <p>Return to the <a href="<mt:If name="comment_error">javascript:history.back()<mt:Else><$mt:EntryLink$></mt:If>">original entry</a>.</p>
    <$mt:Include module="Footer"$>
