<mt:SetVarBlock name="html_head" prepend="1">
    <script type="text/javascript">
    /* <![CDATA[ */
    var user = <$mt:UserSessionState$>;
    var is_preview = true;
    mtAttachEvent("load", mtEntryOnLoad);
    mtAttachEvent("unload", mtEntryOnUnload);
    /* ]]> */
    </script>
</mt:setvarblock>

<$mt:Include module="Header"$>

<mt:Ignore><!-- Comment Preview --></mt:Ignore>
                            <div class="comment" id="comment-<$mt:CommentID$>">
                                <div class="inner">
                                    <div class="comment-header">
                                        <div class="asset-meta">
                                            <span class="byline">
                                                <$mt:CommentAuthorIdentity$>
    <mt:IfCommentParent>
                                                <span class="vcard author"><$mt:CommentAuthorLink$></span> replied to <a href="<mt:CommentParent><$mt:CommentLink$></mt:CommentParent>">comment from <mt:CommentParent><$mt:CommentAuthor$></mt:CommentParent></a>
    <mt:Else>
                                                <span class="vcard author"><$mt:CommentAuthorLink$></span>
    </mt:IfCommentParent>
                                                | <a href="<$mt:CommentLink$>"><abbr class="published" title="<$mt:CommentDate format_name="iso8601"$>"><$mt:CommentDate$></abbr></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <$mt:CommentBody$>
                                    </div>
                                </div>
                            </div>


<mt:Ignore><!-- Comment Form --></mt:Ignore>
                            <div class="comments-open" id="comments-open">
                                <h2 class="comments-open-header">Leave a comment</h2>
                                <div class="comments-open-content">
                                    <div id="comment-greeting"></div>
                                    <form method="post" action="<$mt:CGIPath$><$mt:CommentScript$>" name="comments_form" id="comments-form" onsubmit="return mtCommentOnSubmit(this)">
                                        <input type="hidden" name="static" value="1" />
                                        <input type="hidden" name="armor" value="1" />
                                        <input type="hidden" name="preview" value="" />
                                        <input type="hidden" name="entry_id" value="<$mt:EntryID$>" />
                                        <input type="hidden" name="__lang" value="<$mt:BlogLanguage$>" />
<mt:IfCommentParent>
                                            <input type="hidden" name="parent_id" value="<$mt:CommentParentID escape="html"$>" id="comment-parent-id">
</mt:IfCommentParent>
                                        <div id="comments-open-data">
                                            <div id="comment-form-name">
                                                <label for="comment-author">Name</label>
                                                <input id="comment-author" name="author" size="30" value="<$mt:CommentAuthor encode_html="1"$>" onfocus="mtShowCaptcha()" />
                                            </div>
                                            <div id="comment-form-email">
                                                <label for="comment-email">Email Address</label>
                                                <input id="comment-email" name="email" size="30" value="<$mt:CommentEmail encode_html="1"$>" onfocus="mtShowCaptcha()" />
                                            </div>
                                            <div id="comment-form-url">
                                                <label for="comment-url">URL</label>
                                                <input id="comment-url" name="url" size="30" value="<$mt:CommentURL encode_html="1"$>" onfocus="mtShowCaptcha()" />
                                            </div>
                                        </div>
<mt:IfCommentParent>
                                        <div id="comment-form-reply">
                                            <input type="checkbox" id="comment-reply" name="comment_reply" value="<$mt:CommentParentID escape="html"$>" checked="checked" onclick="mtSetCommentParentID()" />
                                            <label for="comment-reply" id="comment-reply-label">Replying to comment from <mt:CommentParent><$mt:CommentAuthor$></mt:CommentParent></label>
                                        </div>
</mt:IfCommentParent>
                                        <div id="comments-open-text">
                                            <label for="comment-text">Comments <mt:IfAllowCommentHTML>(You may use HTML tags for style)</mt:IfAllowCommentHTML></label>
                                            <textarea id="comment-text" name="text" rows="15" cols="50" onfocus="mtShowCaptcha()"><$mt:CommentBody autolink="0" sanitize="0" convert_breaks="0" encode_html="1"$></textarea>
                                        </div>
                                        <div id="comments-open-captcha"></div>
                                        <div id="comments-open-footer">
                                            <input type="submit" accesskey="v" name="preview_button" id="comment-preview" value="Preview" onclick="this.form.preview.value='1';" />
                                            <input type="submit" accesskey="s" name="post" id="comment-submit" value="Submit" />
                                            <input type="button" name="cancel" id="comment-cancel" value="Cancel" onclick="window.location='<$mt:EntryPermalink$>'" />
                                        </div>
                                    </form>
                                </div>
                            </div>

<$mt:Include module="Footer"$>
