<div class="header-search">
    <form method="get" action="<$mt:CGIPath$><$mt:SearchScript$>">
<mt:IfBlog>
        <input type="hidden" name="IncludeBlogs" value="<$mt:BlogID$>" />
</mt:IfBlog>
        <input type="hidden" name="limit" value="<$mt:SearchMaxResults$>" />
        <label for="search">Search</label>
        <input id="search" class="query" name="search" value="<$mt:SearchString$>" />
        <input class="submit" type="submit" value="Go" />
    </form>
</div>
