<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - Search ######### --></mt:If>
                
                <div class="module-aux pkg" id="module-aux-search">
                <div class="module-inner">
                    <mt:IfBlog>
                    <mt:If name="aggregator_main_index">
                    <h3>Search blogs.perl.org</h3>
                    <mt:Else>
                    <h3>Search this blog</h3>
                    </mt:If>
                    <mt:Else>
                    <h3>Search blogs.perl.org</h3>
	            </mt:IfBlog>
					
                    <div id="search-form-aux">
                        <form method="get" action="<$mt:CGIPath$><$mt:SearchScript$>">
                    <mt:IfBlog><mt:Unless name="aggregator_main_index">
                            <input type="hidden" name="IncludeBlogs" value="<$mt:BlogID$>" />
                    </mt:Unless></mt:IfBlog>
                            <input type="hidden" name="limit" value="<$mt:SearchMaxResults$>" />
                            <label for="search">Search</label>
                            <input id="local-search" class="query" name="search" value="" />
                            <input class="submit" type="submit" value="Go" />
                        </form>
                    </div><!-- #search-form-aux -->
                </div>
                </div><!-- #module-aux-search -->
                    
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - Search ######### --></mt:If>