<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - About System ######### --></mt:If>
                <div class="module-aux pkg" id="module-aux-about-system">
                <div class="module-inner">
                    <h3>About blogs.perl.org</h3>
                    <p>blogs.perl.org is a common blogging platform for the Perl community.
Written in Perl and offering the modern features you've come to
expect in blog platforms, this site is hosted by Aaron Crane and
administered by Dave Cross, with a design donated by Six Apart, Ltd.</p>
                    <mt:unless name="aggregator_main_index">
                    <div class="more-link"><a href="/">Read more &raquo;</a></div>
                    </mt:unless>
                </div>
                </div><!-- #module-aux-about-author -->
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - About System ######### --></mt:If>
