<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - Archives ######### --></mt:If>
<mt:if name="userblog_main_index">                
                <div class="module-aux pkg" id="module-aux-archives">
                <div class="module-inner">
                    <h3><a href="<$mt:BlogArchiveURL$>archives.html">Recent entries</a></h3>
                    
                    <ul>
                    <mt:Entries lastn="10">
                        <li><a href="<$mt:EntryPermalink$>"><$mt:EntryTitle$></a></li>
                    </mt:Entries>
                    </ul>
                    
                    <div class="more-link"><a href="<$mt:BlogArchiveURL$>archives.html">Read all articles &raquo;</a></div>
                </div>
                </div><!-- #module-aux-archives -->
                
</mt:if>
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - Archives ######### --></mt:If>
