<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - Archives ######### --></mt:If>
<mt:if name="aggregator_main_index">                
                <div class="module-aux pkg" id="module-aux-global-recent">
                <div class="module-inner">
                    <h3>Recent entries</h3>
                    
                    <ul>
                    <mt:Entries lastn="15" include_blogs="all">
                        <li><a href="<$mt:EntryPermalink$>"><$mt:EntryTitle$></a><mt:If tag="EntryAuthorDisplayName"> by <$mt:EntryAuthorDisplayName remove_html="1"></mt:If></li>
                    </mt:Entries>
                    </ul>
                    
                </div>
                </div><!-- #module-aux-global-recent -->
</mt:if>
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - Archives ######### --></mt:If>
