<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module: Sidebar - Linkbox ######### --></mt:If>
<$mt:LinkBoxes>
                <div class="module-aux pkg linkbox">
                <div class="module-inner linkbox-inner">
                    <h3><$MTLinkBoxName encode_html="1"$></h3>
					<ul><MTLinkBoxLinks>
					<li><MTIfNonEmpty tag="MTLinkBoxLinkURL"><a href="<$MTLinkBoxLinkURL encode_html="1"$>"></MTIfNonEmpty><$MTLinkBoxLinkName encode_html="1"$><MTIfNonEmpty tag="MTLinkBoxLinkURL"></a></MTIfNonEmpty><MTIfNonEmpty tag="MTLinkBoxLinkDescription"><br />
					<$MTLinkBoxLinkDescription encode_html="1"$></MTIfNonEmpty></li>
					</MTLinkBoxLinks>
					</ul>
                </div>
                </div><!-- #module-aux-about-linkbox -->
</mt:LinkBoxes>
<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module: Sidebar - Linkbox ######### --></mt:If>
