
                </div>
            </div>
        </div>
    </div>
    <div id="cbl"></div>
    <div id="cbr"></div>
    <div id="footer">
        <div class="inner">
            <mt:Ignore>
            <$mt:Include name="include/copyright.tmpl"$>
            <div id="version">
                <a href="<$mt:Var name="portal_url"$>">Movable Type</a> version <$mt:Var name=mt_version$>
            </div>
            </mt:Ignore>
        </div>
    </div>
</div><!-- container-inner-->
</div><!--container-->

</body>
</html>

