This email is to notify you that a new user has successfully registered on the blog '<$mt:BlogName$>'. Listed below you will find some useful information about this new user.

New User Information:
Username: <$mt:CommenterUsername$> 
Full Name: <$mt:CommenterName$>
Email: <$mt:CommenterEmail$>

To view or edit this user, please click on or cut and paste the following URL into a web browser:
<$mt:Var name="profile_url"$>

<$mt:Include module="Mail Footer"$>
