Thank you registering for an account to comment on <$mt:BlogName$>. 

For your own security and to prevent fraud, we ask that you please confirm your account and email address before continuing. Once confirmed you will immediately be allowed to comment on <$mt:BlogName$>.

To confirm your account, please click on or cut and paste the following URL into a web browser:

<$mt:Var name="confirm_url"$>

If you did not make this request, or you don't want to register for an account to comment on <$mt:BlogName$>, then no further action is required.

Thank you very much for your understanding.

Sincerely,
<mt:If tag="AuthorDisplayName"><$mt:AuthorDisplayName encode_html="1"$><mt:Else>Movable Type</mt:If>

<$mt:Include module="Mail Footer"$>
