A new <$mt:entryclasslabel$> entitled '<$mt:EntryTitle$>' has been published to <$mt:BlogName$>.

<mt:If name="object_type" eq="entry">View entry:<mt:Else>View page:</mt:If> <<mt:SetVarBlock name="entry_status"><$mt:EntryStatus$></mt:SetVarBlock><mt:If name="entry_status" eq="Publish"><$mt:EntryPermalink$><mt:Else><$mt:Var name="entry_editurl"$></mt:If>>

------------------------------------------------------------------------
<$mt:EntryClassLabel lower_case="1"$> Title: <$mt:EntryTitle$>
Publish Date: <$mt:EntryDate mail="1"$>
<mt:If name="send_excerpt">

<$mt:EntryExcerpt wrap_text="72"$>
</mt:If>
------------------------------------------------------------------------

<mt:If name="message">Message from Sender:
<$mt:Var name="message"$></mt:If>
<mt:If name="send_body">
------------------------------------------------------------------------

<$mt:EntryBody remove_html="1" wrap_text="72"$>

------------------------------------------------------------------------</mt:If>

You are receiving this email either because you have elected to receive notifications about new content on <$mt:BlogName$>, or the author of the post thought you would be interested. If you no longer wish to receive these emails, please contact the following person:

<$mt:AuthorDisplayName$> <<$mt:AuthorEmail$>>
