
A new entry '<$mt:EntryTitle$>(<$mt:EntryID$>)' has been posted on your blog <$mt:BlogName$>.

Author name: <$mt:EntryAuthor$> 
Author nickname: <$mt:EntryAuthorDisplayName$> 

Title: <$mt:EntryTitle$>
Publish Date: <$mt:EntryDate mail="1"$>

<$mt:EntryExcerpt wrap_text="72"$>


View entry: <<$mt:EntryPermalink$>>
Edit entry: <<$mt:Var name="edit_url"$>>

<$mt:Include module="Mail Footer"$>

