
<$mt:Var name="body_class" value="mt-profile-reset"$>
<mt:setvarblock name="page_title">Choose New Password</mt:setvarblock>
<mt:setvar name="complete" value="1">
<mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:BlogName encode_html="1"$>: </mt:If><$mt:Var name="page_title"$></mt:SetVarBlock>

<$mt:Include module="Simple Header"$>

<h1 id="page-title" class="asset-name"><$mt:Var name="page_title"$></h1>

<mt:if name="error">
        <mtapp:statusmsg
            id="error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
</mt:if>

    <form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="new_pw" />
    <input type="hidden" name="token" value="<mt:var name="token" escape="html">" />
    <input type="hidden" name="email" value="<mt:var name="email" escape="html">" />
<fieldset>

<mtapp:setting
    id="name"
    label="Password"
    label_class="top-label">
    <input type="password" name="password" id="password" value="<mt:var name="password">" class="ti" />
</mtapp:setting>

<mtapp:setting
    id="name"
    label="Confirm Password"
    label_class="top-label">
    <input type="password" name="password_again" id="password_again" value="<mt:var name="password_again">" class="ti" />
</mtapp:setting>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions right">
        <button
            type="submit"
            accesskey="s"
            title="Change Password"
            class="primary-button"
            >Change Password</button>
    </div>
</div>

</fieldset>
</form>
<$mt:Include module="Simple Footer"$>


