<mt:If name='template_debug' ne='0'><!-- ######### BEGIN OUTPUT: Global Template Module - Sidebar ######### --></mt:If>
            
            <div id="content-aux">
            <mt:ifblog>
                <mt:if name="aggregator_main_index">
                <$mt:Include module="Sidebar - About System"$>
                <mt:elseif name="userblog_page">
                <$mt:Include module="Sidebar - About"$>
                <mt:else name="system_page">
                <$mt:Include module="Sidebar - About System"$>
                </mt:if>
            <mt:else>
                <$mt:Include module="Sidebar - About System"$>
            </mt:ifblog>
            
            <$mt:Include module="Sidebar - Search"$>
            
            <mt:IfBlog>
                <mt:if name="aggregator_main_index">
                <$mt:Include module="Sidebar - Global Recent"$>
                <mt:else>
                <$mt:Include module="Sidebar - Archives"$>
                </mt:if>
                <$mt:Include module="Sidebar - Linkbox"$>
            </mt:IfBlog>

            </div><!-- #content-aux -->

<mt:If name='template_debug' ne='0'><!-- ######### END OUTPUT: Global Template Module - Sidebar ######### --></mt:If>
