<mt:include widget="Search"><mt:include widget="About This Page"><mt:include widget="Home Page Widgets Group"><mt:include widget="Archive Widgets Group"><mt:include widget="Page Listing"><mt:include widget="Syndication"><mt:include widget="OpenID Accepted"><mt:include widget="Powered By">