
<$mt:Var name="body_class" value="mt-profile-error"$>
<mt:SetVarBlock name="page_title">Profile Error</mt:SetVarBlock>
<mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:BlogName encode_html="1"$>: </mt:If><$mt:Var name="page_title"$></mt:SetVarBlock>

<$mt:Include module="Header"$>

<h1 id="page-title" class="asset-name"><$mt:Var name="page_title"$></h1>

<mt:SetVarBlock name="status-msg">ERROR MSG HERE</mt:SetVarBlock>
<$mt:Include module="Status Message" id="generic-error" class="error"$>

<p><a href="javascript:void(0)" onclick="history.back()">Go Back</a></p>

<$mt:Include module="Footer"$>

