<$mt:Var name="body_class" value="mt-profile-login"$>
<mt:SetVarBlock name="page_title">Sign in</mt:SetVarBlock>
<mt:SetVarBlock name="title"><mt:If name="blog_id"><$mt:BlogName encode_html="1"$>: </mt:If><$mt:Var name="page_title"$></mt:SetVarBlock>
<mt:SetVarBlock name="html_head">
    <script type="text/javascript">
    <!--
    function signinToggle(choice) {
        var auths = new Array(<mt:If name="enabled_MovableType">'mt',</mt:If><mt:Loop name="auth_loop">'<$mt:Var name="name"$>'<mt:Unless name="__last__">,</mt:Unless></mt:Loop>);

        for (var i = 0; i < auths.length; i++) {
            var signinObject = getByID('signin_with_' + auths[i]);
            var optionsObject = getByID('signin_option_' + auths[i]);

            if (signinObject && optionsObject) {
                if (auths[i] == choice) {
                    signinObject.style.display = 'block';
                    optionsObject.className = 'choice_on';
                } else {
                    signinObject.style.display = 'none';
                    optionsObject.className = 'choice_off';
                }
            }
        }
    }
    //-->
    </script>
</mt:SetVarBlock>

<$mt:Include module="Simple Header"$>

<h1 id="page-title" class="asset-name"><$mt:Var name="page_title"$></h1>

<mt:If name="auth_loop">
    <div class="comment_signin_options">
        <p>Sign in using...</p>

        <ul>
        <mt:If name="enabled_MovableType">
        <li id="signin_option_mt"<mt:If name="enabled_MovableType"> class="choice_on"</mt:If>><div class="signin_logo"><a href="javascript:void(0)" onclick="signinToggle('mt');"><img src="<$mt:Var name="static_uri"$>images/comment/signin_mt.png" width="36" height="26" border="0" alt="" /></a></div><div class="auth_name"><a href="javascript:void(0)" onclick="signinToggle('mt');">Movable Type</a></div></li>
        </mt:If>

        <mt:Loop name="auth_loop">
        <li id="signin_option_<$mt:Var name="name"$>"<mt:If name="name" eq="$default_signin"> class="choice_on"<mt:Else> class="choice_off"</mt:If>><div class="signin_logo"><mt:If name="logo"><a href="javascript:void(0)" onclick="signinToggle('<$mt:Var name="name"$>')"><img src="<$mt:Var name="static_uri"$><$mt:Var name="logo"$>" width="36" height="26" border="0" alt="" /></a></mt:If></div><div class="auth_name"><a href="javascript:void(0)" onclick="signinToggle('<$mt:Var name="name"$>');"><$mt:Var name="name"$></a></div></li>
        </mt:Loop>

        </ul>
    </div>
</mt:If>

<mt:If name="message">
    <mtapp:statusmsg
        id="message"
        class="alert">
        <$mt:Var name="message"$>
    </mt:App:StatusMsg>
</mt:If>
<mt:If name="error">
    <mtapp:statusmsg
        id="generic-error"
        class="error">
        <$mt:Var name="error"$>
    </mt:App:StatusMsg>
</mt:If>

<div class="signin">

<form method="post" action="<$mt:Var name="script_url"$>">
<div id="signin_with_mt"<mt:Unless name="enabled_MovableType"> style="display: none"</mt:Unless>>
    <input type="hidden" name="__mode" value="do_login" />
    <input type="hidden" name="blog_id" value="<$mt:Var name="blog_id"$>" />
    <input type="hidden" name="return_to" value="<$mt:Var name="return_to"$>" />
    <mt:Unless name="auth_mode_mt"><input type="hidden" name="external_auth" value="1" /></mt:Unless>
    <mtapp:setting
        id="username"
        label="Username"
        label_class="top-label">
        <input name="username" id="username" class="ti" />
    </mt:App:Setting>
    <mtapp:setting
        id="password"
        label="Password"
        label_class="top-label">
        <input type="password" name="password" id="password" class="pw" />
    </mt:App:Setting>
    <mt:If name="can_recover_password">
    <div class="right"><a href="<$mt:Var name="script_url"$>?__mode=start_recover&amp;return_to=<$mt:Var name="return_to" escape="url"$>">Forgot your password?</a></div>
    </mt:If>
    <p><label>Remember me?</label> <input type="checkbox" name="remember" value="1" accesskey="r" /></p>
    <div class="actions-bar actions-bar-login">
        <div class="actions-bar-inner pkg actions">
            <button
                type="submit"
                class="primary-button"
                accesskey="s"
                >Sign in</button>
        </div>
    </div>
    <mt:IfCommenterRegistrationAllowed>
    <mt:IfExternalUserManagement>
    <mt:else>
    <mt:If name="blog_id">
    <div class="right">Not a member?&nbsp;&nbsp;<a href="<$mt:Var name="script_url"$>?__mode=register&blog_id=<$mt:Var name="blog_id"$>&return_to=<$mt:Var name="return_to" escape="url"$>">Sign Up</a>!</div>
    </mt:If>
    </mt:IfExternalUserManagement>
    </mt:IfCommenterRegistrationAllowed>
</form>

</div>
</mt:If>
<mt:If name="auth_loop">

<dl>
<mt:Loop name="auth_loop">
<dd>
<div id="signin_with_<$mt:Var name="name"$>"<mt:If name="name" ne="$default_signin"> style="display: none"</mt:If>>
<$mt:Var name="login_form"$>
</div>
</dd>
</mt:Loop>
</dl>

</mt:If>

</div>

<$mt:Include module="Simple Footer"$>

